<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table border="1">
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>password</th>
    </thead>
    <tbody>
    <tr  th:each="user: ${users}">
        <td th:text="${user.u_id}"></td>
        <td th:text="${user.u_name}"></td>
        <td th:text="${user.u_password}"></td>
    </tr>
    </tbody>
</table>
<script>
    function search() {
        var elem = document.getElementById("keyword");
        window.location.href = "/user?name=" + elem.value;
    }
</script>
</body>
</html>