<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form method="post" action="/123/log" th:object="${user}">
    <table>
        <tr>
            <td>序号：</td>
            <td><input type="text" name="U_id" th:field="*{u_id}"></td>
        </tr>
        <tr>
            <td>用户名：</td>
            <td><input type="text" name="u_name" th:field="*{u_name}"></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input type="text" name="u_password" th:field="*{u_password}"></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="提交">
            </td>
        </tr>
    </table>
</body>
</html>