<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>


<body>
<form method="post" th:action="@{/123/log2}" th:object="${user}" enctype="multipart/form-data">
    <table>
        <tr>
            <td>序号：</td>
            <td><input type="text" name="uId" th:field="*{uId}"></td>
        </tr>
        <tr>
            <td>用户名：</td>
            <td><input type="text" name="uName" th:field="*{uName}"></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input type="text" name="uPassword" th:field="*{uPassword}"></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="提交">
            </td>
        </tr>
    </table>
</form>
</body>
</html>