<!DOCTYPE html>
<html lang="zh-cmn-Hans">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>HTML5页面直接调用百度地图API,获取当前位置，直接导航目的地</title>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=3E6zCQWIutlMDg4ZRoICTClv1GlsCAwN"></script>  
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script><!--调用jQuery-->
  <style type="text/css">
        body, html,#container {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
    </style> 
</head>
<body>
    <div id="container">
        <button ></button>
    </div>
</body>
<script type="text/javascript">

    var map = new BMap.Map("container");
    var point = new BMap.Point(120.382029,30.312903);
    map.centerAndZoom(point,9);
    var marker = new BMap.Marker(point);
    var mapPoints = [
        {x:30.312903,y:120.382029,title:"A",con:"我是A",branch:"老大"},
        {x:30.215855,y:120.024568,title:"B",con:"我是B",branch:"老二"},
        {x:30.18015,y:120.174968,title:"C",con:"我是C",branch:"老三"},
        {x:30.324994,y:120.164399,title:"D",con:"我是D",branch:"老四"},
        {x:30.24884,y:120.305074,title:"E",con:"我是E",branch:"老五"}
    ];
    var i = 0;
    map.addOverlay(marker);
    map.enableScrollWheelZoom(true);
    // 函数 创建多个标注
    function markerFun (points,label,infoWindows) {
        var markers = new BMap.Marker(points);
        map.addOverlay(markers);
        markers.setLabel(label);
        markers.addEventListener("click",function (event) {
            console.log("0001");
            map.openInfoWindow(infoWindows,points);//参数：窗口、点  根据点击的点出现对应的窗口
        });
    }
    map.addEventListener("click",function(e){  
     alert(e.point.lng+","+e.point.lat);// 单击地图获取坐标点；  
    map.panTo(new BMap.Point(e.point.lng,e.point.lat));// map.panTo方法，把点击的点设置为地        图中心点  

    });

    for (;i<mapPoints.length;i++) {
        var points = new BMap.Point(mapPoints[i].y,mapPoints[i].x);//创建坐标点
        var opts = {
            width:250,
            height: 100,
            title:mapPoints[i].title
        };
        var label = new BMap.Label(mapPoints[i].branch,{
            offset:new BMap.Size(25,5)
        });
        var infoWindows = new BMap.InfoWindow(mapPoints[i].con,opts);
        markerFun(points,label,infoWindows);
    }
</script>